<div style="text-align: center">
	<div style="text-align: center"><h5>Choose Graph</h5></div>
	<div><h5><%= link_to 'Goals', site_goals_path %></h5></div>
	<div><h5><%= link_to 'Assists', site_assists_path %></h5></div>
	<div><h5><%= link_to 'PIM', site_pim_path %></h5></div>
	<div><h5><%= link_to 'DEF', site_def_path %></h5></div>
	<br/>

	<div style="text-align: center"><h5>GRANIMATION</h5></div>
	<div><h5><%= link_to 'Penalty Minutes', site_granimation_path %></h5></div>
	<div><h5><%= link_to 'New! Single Team Season Goals', site_ga_goals_path %></h5></div>
	<br/>

	<div style="text-align: center"><h5>PREVIOUS</h5></div>
	<div><h5><%= link_to 'Initial Launch', site_scrape_path %></h5></div>
</div>