<script>
	var jdub = (<%= raw @jdub %>);
	var elko = (<%= raw @elko %>);
	var gsal = (<%= raw @gsal %>);
	var pbts = (<%= raw @pbts %>);

	$(function() {
		granimation();
	});
</script>

<br/>
<h5 style="text-align:center">GRANIMATION: PENALTY MINUTES</h5>
<br/>
<br/>

<div>
  <canvas id="canvas"></canvas>
</div>

<br/>
<br/>
<!-- <a class="waves-effect waves-light btn" id="granimate" onclick="granimation()" disabled>Run Granimation Again!</a> -->

<br/>
<br/>
<div><h6><%= link_to 'Back to Main Menu', root_path %></h5></div>