<br/>
<br/>
<div><h6><%= link_to 'Back to Main Menu', root_path %></h5></div>
<br/>
<br/>

<!-- http://stackoverflow.com/questions/18073327/rails-and-chartkick -->
<%= line_chart [
  {name: "Rank",    data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.rk]  }},
  {name: "Goals",   data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.g]   }},
  {name: "Assists", data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.a]   }},
  {name: "PIM",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.pim] }},
  {name: "PPP",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.ppp] }},
  {name: "FOW",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.fow] }},
  {name: "SOG",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.sog] }},
  {name: "HIT",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.hit] }},
  {name: "DEF",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.def] }},
], min: @sk_min, max: @sk_max, legend: "bottom"  %>

<br/>
<br/>

<%= line_chart [
  {name: "Goals",    data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.g]  }}
], min: 220, max: 240, legend: "bottom"  %>

<br/>
<br/>

<%= line_chart [
  {name: "W",       data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.w]   }},
  {name: "SV",      data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.sv]  }},
  {name: "SO",      data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.so]  }},
  {name: "GAA",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.gaa] }},
  {name: "SV%",     data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.sv]  }},
], min: @g_min, max: @g_max, legend: "bottom"  %>

<br/>
<br/>

<!-- http://stackoverflow.com/questions/18073327/rails-and-chartkick -->
<%= line_chart [
  {name: Team.find(1).name,   data: Statistic.where(team_id: 1).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(2).name,   data: Statistic.where(team_id: 2).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(3).name,   data: Statistic.where(team_id: 3).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(4).name,   data: Statistic.where(team_id: 4).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(5).name,   data: Statistic.where(team_id: 5).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(6).name,   data: Statistic.where(team_id: 6).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(7).name,   data: Statistic.where(team_id: 7).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(8).name,   data: Statistic.where(team_id: 8).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(9).name,   data: Statistic.where(team_id: 9).map{ |st| [st.created_at.to_s[5..9], st.g] }},
  {name: Team.find(10).name,   data: Statistic.where(team_id: 10).map{ |st| [st.created_at.to_s[5..9], st.g] }},
], min: 125, max: 275, legend: "bottom"  %>

<br/>
<br/>
<div><h6><%= link_to 'Back to Main Menu', root_path %></h5></div>