<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Shepic!</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
<!--       <li><a href="sass.html">Standings</a></li>
      <li><a href="badges.html">Login</a></li>
      <li><a href="collapsible.html">Logout</a></li> -->

      <% if current_user %>
        <li><%= link_to "Standings" %></li>
        <li><%= link_to "My Profile" %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>





