<!DOCTYPE html>
<html>
<head>
  <title>SPECTRUM HOCKEY</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'zamboni.png' %>
</head>
<body>

<%= image_tag "spectrum.jpg", :class => "spectrum" %>
<%= image_tag "espn_fh_logo.png", :class => "espn-logo" %>

<%= render "layouts/header" %>

<div class="container">
  <%= yield %>
</div>

<%= render "layouts/footer" %>

</body>
</html>
